1. Python program to display all header tags from wikipedia.org

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
wiki= requests.get("https://en.wikipedia.org/wiki/Main_Page")
head= BeautifulSoup(wiki.content, "html.parser")

In [3]:
headers=[]
for h in head.find_all("span", class_="mw-headline"):
    headers.append(h.get_text())

headers

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

2.Write python program to display IMDB's Top rated 100 movies data(name, rating, year of release) and make dataframe

In [4]:
page1= requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
imdb1=BeautifulSoup(page1.content,"html.parser")

In [5]:
alldata={"name":[],"year":[],"rating":[]}
for n in imdb1.find_all("td","titleColumn"):
    alldata["name"].append(n.get_text().replace("\n","").split("(")[0])
    alldata["year"].append(n.get_text().replace("\n","").split("(")[1].replace(")",""))
    
for i in imdb1.find_all("td","ratingColumn imdbRating"):
    alldata["rating"].append(i.get_text().replace("\n",""))

In [6]:
df = pd.DataFrame(data=alldata)
imdb_top_100=df.head(100)

In [7]:
imdb_top_100

                                                name  year rating
0                   1.      The Shawshank Redemption  1994    9.2
1                              2.      The Godfather  1972    9.2
2                            3.      The Dark Knight  2008    9.0
3                      4.      The Godfather Part II  1974    9.0
4                               5.      12 Angry Men  1957    9.0
..                                               ...   ...    ...
95                             96.      Citizen Kane  1941    8.3
96        97.      M - Eine Stadt sucht einen Mörder  1931    8.3
97                       98.      Lawrence of Arabia  1962    8.3
98                       99.      North by Northwest  1959    8.2
99                                 100.      Vertigo  1958    8.2

[100 rows x 3 columns]

3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [8]:
pageh= requests.get("https://www.imdb.com/list/ls063915608/")
imdbh=BeautifulSoup(pageh.content,"html.parser")

In [9]:
alldatah={"name":[],"year":[],"rating":[]}
for n in imdbh.find_all("h3","lister-item-header"):
    alldatah["name"].append(n.get_text().replace("\n","").split("(")[0])
    alldatah["year"].append(n.get_text().replace("\n","").split("(")[1].replace(")",""))
    
for i in imdbh.find_all("div","ipl-rating-star small"):
    alldatah["rating"].append(i.get_text().replace("\n",""))

In [10]:
imdb_top_100_indian = pd.DataFrame(data=alldatah)
imdb_top_100_indian

                                   name  year rating
0                     1.Rang De Basanti  2006    8.1
1   2.Lagaan: Once Upon a Time in India  2001    8.1
2                      3.Dil Chahta Hai  2001    8.1
3                  4.Gangs of Wasseypur  2012    8.2
4            5.Zindagi Na Milegi Dobara  2011    8.2
..                                  ...   ...    ...
95                           96.Dhamaal  2007    7.4
96            97.Golmaal: Fun Unlimited  2006    7.4
97                           98.Aligarh  2015    7.8
98                             99.Earth  1998    7.6
99                    100.Kapoor & Sons  2016    7.7

[100 rows x 3 columns]

4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [11]:
page4= requests.get("https://presidentofindia.nic.in/former-presidents.htm")
pres=BeautifulSoup(page4.content,"html.parser")

In [12]:
alldata4={"name":[],"term of office":[]}

for n in pres.find_all("div","presidentListing"):
    alldata4["name"].append(n.get_text().replace("\n","").split("(")[0])
    alldata4["term of office"].append(n.get_text().split("\n")[2].replace("Term of Office:",""))

In [13]:
president = pd.DataFrame(data=alldata4)
president

,name,term of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

5.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [3]:
page5a= requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
icc_team=BeautifulSoup(page5a.content,"html.parser")

In [4]:
teams=[]

for i in icc_team.find_all("span","u-hide-phablet"):
    teams.append(i.get_text())
    
matches=[]
matches.append((icc_team.find("td", "rankings-block__banner--matches")).text)
x=1
for i in icc_team.find_all("td","table-body__cell u-center-text"):
    if x%2==1:
        matches.append(i.text)
    x=x+1

points=[]
points.append((icc_team.find("td", "rankings-block__banner--points")).text)
x=1
for i in icc_team.find_all("td","table-body__cell u-center-text"):
    if x%2==0:
        points.append(i.text)
    x=x+1
    
rating=[]
rating.append((icc_team.find("td", "rankings-block__banner--rating u-text-right")).text.split("\n")[1].strip())
for i in icc_team.find_all("td","table-body__cell u-text-right rating"):
    rating.append(i.get_text())

In [5]:
dfteam=pd.DataFrame({"Team" : teams, "Matches":matches, "Points": points, "Rating": rating})
teams_10=dfteam.head(10)

In [6]:
teams_10

           Team Matches Points Rating
0   New Zealand      23  2,670    116
1       England      30  3,400    113
2     Australia      32  3,572    112
3         India      35  3,866    110
4      Pakistan      22  2,354    107
5  South Africa      24  2,392    100
6    Bangladesh      30  2,753     92
7     Sri Lanka      30  2,677     89
8   Afghanistan      19  1,380     73
9   West Indies      41  2,902     71

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [7]:
page5b= requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
icc_batsmen=BeautifulSoup(page5b.content,"html.parser")

In [8]:
player=[]
player.append((icc_batsmen.find("div", "rankings-block__banner--name")).text)
for i in icc_batsmen.find_all("td","table-body__cell name"):
    player.append(i.get_text().replace("\n",""))
    
team=[]
team.append((icc_batsmen.find("div", "rankings-block__banner--nationality")).text.split("\n")[2])

for i in icc_batsmen.find_all("span","table-body__logo-text"):
  
        team.append(i.text)
  
    
rating=[]
rating.append((icc_batsmen.find("div", "rankings-block__banner--rating")).text)
for i in icc_batsmen.find_all("td","table-body__cell u-text-right rating"):
    rating.append(i.get_text())

In [9]:
dfff=pd.DataFrame({"Player":player,"Team":team,"Rating":rating})
players_10=dfff.head(10)
players_10

                  Player Team Rating
0             Babar Azam  PAK    890
1            Imam-ul-Haq  PAK    779
2  Rassie van der Dussen   SA    766
3        Quinton de Kock   SA    759
4           David Warner  AUS    747
5            Steve Smith  AUS    719
6         Jonny Bairstow  ENG    710
7            Virat Kohli  IND    707
8           Rohit Sharma  IND    704
9        Kane Williamson   NZ    701

c) Top 10 ODI bowlers along with the records of their team and rating

In [23]:
bowlers_10=dfff.iloc[10:19,: ].reset_index(drop = True)
bowlers_10

              Player Team Rating
0     Josh Hazlewood  AUS    727
1     Mitchell Starc  AUS    665
2     Shaheen Afridi  PAK    661
3         Matt Henry   NZ    656
4         Adam Zampa  AUS    655
5       Mehedi Hasan  BAN    655
6   Mujeeb Ur Rahman  AFG    650
7  Mustafizur Rahman  BAN    640
8        Rashid Khan  AFG    635

###

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [24]:
page6a= requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
icc_wteam=BeautifulSoup(page6a.content,"html.parser")

In [25]:
wteams=[]

for i in icc_wteam.find_all("span","u-hide-phablet"):
    wteams.append(i.get_text())
    
wmatches=[]
wmatches.append((icc_wteam.find("td", "rankings-block__banner--matches")).text)
x=1
for i in icc_wteam.find_all("td","table-body__cell u-center-text"):
    if x%2==1:
        wmatches.append(i.text)
    x=x+1

wpoints=[]
wpoints.append((icc_wteam.find("td", "rankings-block__banner--points")).text)
x=1
for i in icc_wteam.find_all("td","table-body__cell u-center-text"):
    if x%2==0:
        wpoints.append(i.text)
    x=x+1
    
wrating=[]
wrating.append((icc_wteam.find("td", "rankings-block__banner--rating u-text-right")).text.split("\n")[1].strip())
for i in icc_wteam.find_all("td","table-body__cell u-text-right rating"):
    wrating.append(i.get_text())

In [26]:
dfwteam=pd.DataFrame({"Team" : wteams, "Matches":wmatches, "Points": wpoints, "Rating": wrating})
wteams_10=dfwteam.head(10)
wteams_10

           Team Matches Points Rating
0     Australia      18  3,061    170
1  South Africa      26  3,098    119
2       England      25  2,904    116
3         India      27  2,820    104
4   New Zealand      24  2,425    101
5   West Indies      24  2,334     97
6    Bangladesh      12    932     78
7      Thailand       8    572     72
8      Pakistan      24  1,519     63
9     Sri Lanka       8    353     44

b) Top 10 women’s ODI Batting players along with the records of their team and rating

In [27]:
page6b= requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
icc_wbatsmen=BeautifulSoup(page6b.content,"html.parser")

In [28]:
wplayer=[]
wplayer.append((icc_wbatsmen.find("div", "rankings-block__banner--name")).text)
for i in icc_wbatsmen.find_all("td","table-body__cell name"):
    wplayer.append(i.get_text().replace("\n",""))
    
wteam=[]
wteam.append((icc_wbatsmen.find("div", "rankings-block__banner--nationality")).text.split("\n")[2])

for i in icc_wbatsmen.find_all("span","table-body__logo-text"):
  
        wteam.append(i.text)
  
    
wrating=[]
wrating.append((icc_wbatsmen.find("div", "rankings-block__banner--rating")).text)
for i in icc_wbatsmen.find_all("td","table-body__cell u-text-right rating"):
    wrating.append(i.get_text())

In [29]:
wdfff=pd.DataFrame({"Player":wplayer,"Team":wteam,"Rating":wrating})
wplayers_10=wdfff.head(10)
wplayers_10

                Player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    725
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8    Amy Satterthwaite   NZ    661
9  Chamari Athapaththu   SL    655

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [30]:
allrounders_10=wdfff.iloc[19:29,: ].reset_index(drop = True)
allrounders_10

             Player Team Rating
0      Ellyse Perry  AUS    374
1    Natalie Sciver  ENG    357
2       Amelia Kerr   NZ    356
3    Marizanne Kapp   SA    349
4     Deepti Sharma  IND    322
5  Ashleigh Gardner  AUS    270
6     Jess Jonassen  AUS    246
7    Jhulan Goswami  IND    214
8   Katherine Brunt  ENG    207

7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

a) Headline

In [31]:
page7a= requests.get("https://www.cnbc.com/world/?region=world")
head=BeautifulSoup(page7a.content,"html.parser")

In [34]:
headline=[]

for i in head.find_all("a","LatestNews-headline"):
     headline.append(i.text)

In [35]:
headlinedf=pd.DataFrame(data=headline)
headlinedf

                                                    0
0   The U.S. wants the EU to be strict with China....
1   Rolls-Royce uses hydrogen produced with wind a...
2   Singapore and New York are the most expensive ...
3   Hong Kong's Hang Seng still in bear market ter...
4   Tesla CEO Elon Musk kicks off first Semi truck...
5   Citi names 6 global stocks that capture both '...
6   BlackRock unit tells investors it's time for a...
7   Cramer's lightning round: Seagate is not for t...
8   Wrong Covid test results in China raise concer...
9   Jim Cramer says he likes these 3 restaurant st...
10  Asia-Pacific markets fall as investors seek cl...
11  Powell’s inflation remarks are a ‘green light’...
12  S&P 500 futures fall slightly as investors awa...
13  Las Vegas Strip's biggest property owner in de...
14  Appeals court vacates order appointing Trump M...
15       4 ways to get free Wi-Fi on your next flight
16  Pro Picks: Watch all of Thursday's big stock c...
17  Stocks making the biggest moves after hours: A...
18  FCC authorizes SpaceX to begin deploying next-...
19  Fisker faces liquidity questions after short s...
20  Ye's deal to buy conservative social media app...
21  CNN lays off hundreds of staffers after busine...
22  FDA pulls Covid treatment because it's not eff...
23  Mark Mahaney says this travel stock should wea...
24  Ulta Beauty boosts outlook, as shoppers keep s...
25  Senate approves bill enforcing railroad labor ...
26  Fauci says China has done a bad job vaccinatin...
27  Biden, Macron reaffirm their partnership, supp...
28  November's job growth still strong even with l...
29  Taylor Swift, Drake, Bad Bunny: How much it co...

b) Time

In [37]:
time=[]

for i in head.find_all("time","LatestNews-timestamp"):
     time.append(i.text)

In [43]:
df_news=pd.DataFrame({"name":headline,"time":time})
df_news

                                                 name          time
0   The U.S. wants the EU to be strict with China....     7 Min Ago
1   Rolls-Royce uses hydrogen produced with wind a...    32 Min Ago
2   Singapore and New York are the most expensive ...    54 Min Ago
3   Hong Kong's Hang Seng still in bear market ter...    59 Min Ago
4   Tesla CEO Elon Musk kicks off first Semi truck...   4 Hours Ago
5   Citi names 6 global stocks that capture both '...   6 Hours Ago
6   BlackRock unit tells investors it's time for a...   6 Hours Ago
7   Cramer's lightning round: Seagate is not for t...   7 Hours Ago
8   Wrong Covid test results in China raise concer...   7 Hours Ago
9   Jim Cramer says he likes these 3 restaurant st...   7 Hours Ago
10  Asia-Pacific markets fall as investors seek cl...   8 Hours Ago
11  Powell’s inflation remarks are a ‘green light’...   8 Hours Ago
12  S&P 500 futures fall slightly as investors awa...   8 Hours Ago
13  Las Vegas Strip's biggest property owner in de...   9 Hours Ago
14  Appeals court vacates order appointing Trump M...   9 Hours Ago
15       4 ways to get free Wi-Fi on your next flight   9 Hours Ago
16  Pro Picks: Watch all of Thursday's big stock c...   9 Hours Ago
17  Stocks making the biggest moves after hours: A...   9 Hours Ago
18  FCC authorizes SpaceX to begin deploying next-...   9 Hours Ago
19  Fisker faces liquidity questions after short s...  10 Hours Ago
20  Ye's deal to buy conservative social media app...  10 Hours Ago
21  CNN lays off hundreds of staffers after busine...  10 Hours Ago
22  FDA pulls Covid treatment because it's not eff...  10 Hours Ago
23  Mark Mahaney says this travel stock should wea...  10 Hours Ago
24  Ulta Beauty boosts outlook, as shoppers keep s...  10 Hours Ago
25  Senate approves bill enforcing railroad labor ...  10 Hours Ago
26  Fauci says China has done a bad job vaccinatin...  10 Hours Ago
27  Biden, Macron reaffirm their partnership, supp...  11 Hours Ago
28  November's job growth still strong even with l...  11 Hours Ago
29  Taylor Swift, Drake, Bad Bunny: How much it co...  11 Hours Ago

                                                 name          time
0   The U.S. wants the EU to be strict with China....     7 Min Ago
1   Rolls-Royce uses hydrogen produced with wind a...    32 Min Ago
2   Singapore and New York are the most expensive ...    54 Min Ago
3   Hong Kong's Hang Seng still in bear market ter...    59 Min Ago
4   Tesla CEO Elon Musk kicks off first Semi truck...   4 Hours Ago
5   Citi names 6 global stocks that capture both '...   6 Hours Ago
6   BlackRock unit tells investors it's time for a...   6 Hours Ago
7   Cramer's lightning round: Seagate is not for t...   7 Hours Ago
8   Wrong Covid test results in China raise concer...   7 Hours Ago
9   Jim Cramer says he likes these 3 restaurant st...   7 Hours Ago
10  Asia-Pacific markets fall as investors seek cl...   8 Hours Ago
11  Powell’s inflation remarks are a ‘green light’...   8 Hours Ago
12  S&P 500 futures fall slightly as investors awa...   8 Hours Ago
13  Las Vegas Strip's biggest property owner in de...   9 Hours Ago
14  Appeals court vacates order appointing Trump M...   9 Hours Ago
15       4 ways to get free Wi-Fi on your next flight   9 Hours Ago
16  Pro Picks: Watch all of Thursday's big stock c...   9 Hours Ago
17  Stocks making the biggest moves after hours: A...   9 Hours Ago
18  FCC authorizes SpaceX to begin deploying next-...   9 Hours Ago
19  Fisker faces liquidity questions after short s...  10 Hours Ago
20  Ye's deal to buy conservative social media app...  10 Hours Ago
21  CNN lays off hundreds of staffers after busine...  10 Hours Ago
22  FDA pulls Covid treatment because it's not eff...  10 Hours Ago
23  Mark Mahaney says this travel stock should wea...  10 Hours Ago
24  Ulta Beauty boosts outlook, as shoppers keep s...  10 Hours Ago
25  Senate approves bill enforcing railroad labor ...  10 Hours Ago
26  Fauci says China has done a bad job vaccinatin...  10 Hours Ago
27  Biden, Macron reaffirm their partnership, supp...  11 Hours Ago
28  November's job growth still strong even with l...  11 Hours Ago
29  Taylor Swift, Drake, Bad Bunny: How much it co...  11 Hours Ago

c) News Link

In [48]:
link=[]

for i in head.find_all("a", "LatestNews-headline"):
     link.append(i.get('href'))
link

['https://www.cnbc.com/2022/12/02/the-us-wants-the-eu-to-be-strict-with-china-but-europe-cant-afford-it.html',
 'https://www.cnbc.com/2022/12/02/rolls-royce-uses-green-hydrogen-in-jet-engine-test.html',
 'https://www.cnbc.com/2022/12/02/singapore-and-new-york-are-the-most-expensive-cities-to-live-in-eiu.html',
 'https://www.cnbc.com/2022/12/02/hang-seng-still-in-bear-market-territory-despite-best-month-since-1998.html',
 'https://www.cnbc.com/2022/12/01/tesla-ceo-elon-musk-kicks-off-semi-truck-deliveries.html',
 'https://www.cnbc.com/2022/12/02/citi-names-6-stocks-that-capture-both-defensive-growth-and-value.html',
 'https://www.cnbc.com/2022/12/02/blackrocks-ishares-on-how-to-invest-in-an-environment-of-higher-rates.html',
 'https://www.cnbc.com/2022/12/01/cramers-lightning-round-seagate-is-not-for-this-market.html',
 'https://www.cnbc.com/2022/12/02/china-people-worry-wrong-covid-test-results-mean-pandemic-wont-end.html',
 'https://www.cnbc.com/2022/12/01/jim-cramer-says-he-likes-these-3-restaurant-stocks.html',
 'https://www.cnbc.com/2022/12/02/asia-pacific-markets-jobs.html',
 'https://www.cnbc.com/2022/12/01/cramer-powells-inflation-remarks-a-green-light-to-stay-in-stocks.html',
 'https://www.cnbc.com/2022/12/01/stock-market-futures-open-to-close-news.html',
 'https://www.cnbc.com/2022/12/01/big-las-vegas-property-owner-to-take-full-ownership-of-two-casinos.html',
 'https://www.cnbc.com/2022/12/01/appeals-court-vacates-order-appointing-trump-mar-a-lago-search-warrant-watchdog.html',
 'https://www.cnbc.com/select/how-to-get-free-in-flight-wi-fi/',
 'https://www.cnbc.com/2022/12/01/pro-picks-watch-all-of-thursdays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2022/12/01/stocks-making-the-biggest-moves-after-hours-asana-zscaler-marvell-and-more.html',
 'https://www.cnbc.com/2022/12/01/fcc-authorizes-spacex-gen2-starlink-up-to-7500-satellites.html',
 'https://www.cnbc.com/2022/12/01/ev-maker-fisker-faces-liquidity-questions-after-short-seller-claims-its-cash-is-tied-up.html',
 'https://www.cnbc.com/2022/12/01/ye-deal-to-buy-parler-called-off.html',
 'https://www.cnbc.com/2022/12/01/cnn-lays-off-hundreds-of-staffers-read-the-memo.html',
 'https://www.cnbc.com/2022/12/01/covid-fda-pulls-antibody-bebtelovimab-because-not-effective-against-omicron-bqpoint1.html',
 'https://www.cnbc.com/2022/12/01/mark-mahaney-says-this-lodging-stock-should-weather-a-slowdown-in-travel-demand.html',
 'https://www.cnbc.com/2022/12/01/ulta-beauty-ulta-earnings-q3-2022.html',
 'https://www.cnbc.com/2022/12/01/senate-passes-rail-labor-agreement-ahead-of-strike-sends-to-biden.html',
 'https://www.cnbc.com/2022/12/01/china-covid-lockdown-protests-fauci-says-beijing-did-bad-job-vaccinating-elderly.html',
 'https://www.cnbc.com/2022/12/01/biden-macron-reaffirm-their-strong-partnership-support-for-ukraine.html',
 'https://www.cnbc.com/2022/12/01/november-job-growth-slowed-but-will-still-show-strength-despite-layoffs.html',
 'https://www.cnbc.com/2022/12/01/taylor-swift-drake-bad-bunny-how-much-it-costs-to-see-artists-live.html']

In [47]:
df_news_a=pd.DataFrame({"name":headline,"time":time,"link":link})
df_news_a

,name,time,link
0,The U.S. wants the EU to be strict with China....,7 Min Ago,https://www.cnbc.com/2022/12/02/the-us-wants-t...
1,Rolls-Royce uses hydrogen produced with wind a...,32 Min Ago,https://www.cnbc.com/2022/12/02/rolls-royce-us...
2,Singapore and New York are the most expensive ...,54 Min Ago,https://www.cnbc.com/2022/12/02/singapore-and-...
3,Hong Kong's Hang Seng still in bear market ter...,59 Min Ago,https://www.cnbc.com/2022/12/02/hang-seng-stil...
4,Tesla CEO Elon Musk kicks off first Semi truck...,4 Hours Ago,https://www.cnbc.com/2022/12/01/tesla-ceo-elon...
5,Citi names 6 global stocks that capture both '...,6 Hours Ago,https://www.cnbc.com/2022/12/02/citi-names-6-s...
6,BlackRock unit tells investors it's time for a...,6 Hours Ago,https://www.cnbc.com/2022/12/02/blackrocks-ish...
7,Cramer's lightning round: Seagate is not for t...,7 Hours Ago,https://www.cnbc.com/2022/12/01/cramers-lightn...
8,Wrong Covid test results in China raise concer...,7 Hours Ago,https://www.cnbc.com/2022/12/02/china-people-w...
9,Jim Cramer says he likes these 3 restaurant st...,7 Hours Ago,https://www.cnbc.com/2022/12/01/jim-cramer-say...
10,Asia-Pacific markets fall as investors seek cl...,8 Hours Ago,https://www.cnbc.com/2022/12/02/asia-pacific-m...
11,Powell’s inflation remarks are a ‘green light’...,8 Hours Ago,https://www.cnbc.com/2022/12/01/cramer-powells...
12,S&P 500 futures fall slightly as investors awa...,8 Hours Ago,https://www.cnbc.com/2022/12/01/stock-market-f...
13,Las Vegas Strip's biggest property owner in de...,9 Hours Ago,https://www.cnbc.com/2022/12/01/big-las-vegas-...
14,Appeals court vacates order appointing Trump M...,9 Hours Ago,https://www.cnbc.com/2022/12/01/appeals-court-...
15,4 ways to get free Wi-Fi on your next flight,9 Hours Ago,https://www.cnbc.com/select/how-to-get-free-in...
16,Pro Picks: Watch all of Thursday's big stock c...,9 Hours Ago,https://www.cnbc.com/2022/12/01/pro-picks-watc...
17,Stocks making the biggest moves after hours: A...,9 Hours Ago,https://www.cnbc.com/2022/12/01/stocks-making-...
18,FCC authorizes SpaceX to begin deploying next-...,9 Hours Ago,https://www.cnbc.com/2022/12/01/fcc-authorizes...
19,Fisker faces liquidity questions after short s...,10 Hours Ago,https://www.cnbc.com/2022/12/01/ev-maker-fiske...
20,Ye's deal to buy conservative social media app...,10 Hours Ago,https://www.cnbc.com/2022/12/01/ye-deal-to-buy...
21,CNN lays off hundreds of staffers after busine...,10 Hours Ago,https://www.cnbc.com/2022/12/01/cnn-lays-off-h...
22,FDA pulls Covid treatment because it's not eff...,10 Hours Ago,https://www.cnbc.com/2022/12/01/covid-fda-pull...
23,Mark Mahaney says this travel stock should wea...,10 Hours Ago,https://www.cnbc.com/2022/12/01/mark-mahaney-s...
24,"Ulta Beauty boosts outlook, as shoppers keep s...",10 Hours Ago,https://www.cnbc.com/2022/12/01/ulta-beauty-ul...
25,Senate approves bill enforcing railroad labor ...,10 Hours Ago,https://www.cnbc.com/2022/12/01/senate-passes-...
26,Fauci says China has done a bad job vaccinatin...,10 Hours Ago,https://www.cnbc.com/2022/12/01/china-covid-lo...
27,"Biden, Macron reaffirm their partnership, supp...",11 Hours Ago,https://www.cnbc.com/2022/12/01/biden-macron-r...
28,November's job growth still strong even with l...,11 Hours Ago,https://www.cnbc.com/2022/12/01/november-job-g...
29,"Taylor Swift, Drake, Bad Bunny: How much it co...",11 Hours Ago,https://www.cnbc.com/2022/12/01/taylor-swift-d...

8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title
ii) Authors
iii) Published Date
iv) Paper URL

In [49]:
page8= requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
ai=BeautifulSoup(page8.content,"html.parser")

In [50]:
dict_ai={"Title":[],"Author":[],"Published Date":[], "Paper URL":[]}

for n in ai.find_all("h2",class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    dict_ai["Title"].append(n.text)
    
for i in ai.find_all("span",class_="sc-1w3fpd7-0 dnCnAO"):
    dict_ai["Author"].append(i.get_text())
    
for i in ai.find_all("span",class_="sc-1thf9ly-2 dvggWt"):
    dict_ai["Published Date"].append(i.get_text())
    
for i in ai.find_all("a", "sc-5smygv-0 fIXTHm"):
    dict_ai["Paper URL"].append(i.get("href"))

In [51]:
df_ui= pd.DataFrame(data=dict_ai)
df_ui

,Title,Author,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [52]:
page9= requests.get("https://www.dineout.co.in/delhi-restaurants/welcome-back")
dine=BeautifulSoup(page9.content,"html.parser")

In [53]:
dict_dine={"Restaurant name":[],"Cuisine":[],"Location":[], "Ratings":[], "Image URL":[]}

for n in dine.find_all("a",class_="restnt-name ellipsis"):
    dict_dine["Restaurant name"].append(n.text)
    
for i in dine.find_all("span",class_="double-line-ellipsis"):
    dict_dine["Cuisine"].append(i.get_text().split("|")[1])
    
for i in dine.find_all("div",class_="restnt-loc ellipsis"):
    dict_dine["Location"].append(i.get_text())
    
for i in dine.find_all("div", "restnt-rating rating-4"):
    dict_dine["Ratings"].append(i.get_text())
    
for i in dine.find_all("img", "no-img"):
    dict_dine["Image URL"].append(i.get("data-src"))

In [54]:
dine_df=pd.DataFrame(data=dict_dine)
dine_df

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Station Bar,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
6,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,The Luggage Room By Sandoz,"Chinese, Italian, North Indian, Continental","M-Block,Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
9,Chido,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,My Bar Headquarters,"North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
11,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
12,Sandoz,"North Indian, Chinese, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
13,Connaught Clubhouse Microbrewery,"North Indian, Continental, Asian, Chinese","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
15,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,Chili's American Grill and Bar,"Mexican, American, Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
17,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
18,Berco's,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Cafe Delhi Heights,"Continental, North Indian, Beverages, Chinese...","Janpath, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Ghoomar Traditional Thali Restaurant,"North Indian, Rajasthani","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...

10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank
ii) Publication
iii) h5-index
 iv) h5-median

In [55]:
page10= requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
pub=BeautifulSoup(page10.content,"html.parser")

In [56]:
dict_pub={"Rank":[],"Publication":[],"h5-index":[], "h5-median":[]}

for n in pub.find_all("td",class_="gsc_mvt_p"):
    dict_pub["Rank"].append(n.text)
    
for i in pub.find_all("td",class_="gsc_mvt_t"):
    dict_pub["Publication"].append(i.get_text())
    
for i in pub.find_all("a",class_="gs_ibl gsc_mp_anchor"):
    dict_pub["h5-index"].append(i.get_text())
    
for i in pub.find_all("span", "gs_ibl gsc_mp_anchor"):
    dict_pub["h5-median"].append(i.get_text())

In [57]:
pub_df=pd.DataFrame(data=dict_pub)
pub_df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]