In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [23]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [27]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

r=driver.find_elements(By.TAG_NAME,"tr")
for i in r[2:32]:
    rank.append(i.text.split("\n")[0].split(".")[0])
    name.append(i.text.split("\n")[0].split(".")[1].split("[")[0])

c=4
a=driver.find_elements(By.TAG_NAME,"td")
for i in range(30):
    
    artist.append(a[c].text)
    c=c+6

c=5
a=driver.find_elements(By.TAG_NAME,"td")
for i in range(30):
    
    views.append(a[c].text)
    c=c+6

c=6
a=driver.find_elements(By.TAG_NAME,"td")
for i in range(30):
    upload_date.append(a[c].text)
    c=c+6

details=pd.DataFrame({"Rank":rank,"Name":name,"Artist":artist,"Upload Date":upload_date,"Views":views})
details

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.05
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.57
3,4,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.88
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.74
6,7,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.08
7,8,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.79
8,9,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.76
10,11,"""Gangnam Style""",Psy,"July 15, 2012",4.64
11,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.52
12,13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.18
13,14,"""Sugar""",Maroon 5,"January 14, 2015",3.80
14,15,"""Roar""",Katy Perry,"September 5, 2013",3.70
15,16,"""Counting Stars""",OneRepublic,"May 31, 2013",3.70
16,17,"""Axel F""",Crazy Frog,"June 16, 2009",3.67
17,18,"""Sorry""",Justin Bieber,"October 22, 2015",3.62
18,19,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.53
19,20,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21,"""Dark Horse""",Katy Perry,"February 20, 2014",3.42
21,22,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.40
22,23,"""Faded""",Alan Walker,"December 3, 2015",3.38
23,24,"""Let Her Go""",Passenger,"July 25, 2012",3.36
24,25,"""Girls Like You""",Maroon 5,"May 31, 2018",3.35
25,26,"""Perfect""",Ed Sheeran,"November 9, 2017",3.33
26,27,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.31
27,28,"""Lean On""",Major Lazer,"March 22, 2015",3.31
28,29,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.24

2 . Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [31]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.bcci.tv/")

search_button=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search_button.click()

In [33]:

title=[]
series=[]
place=[]
date=[]
time=[]

t=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
for i in t:
    title.append(i.text.split("-")[0])

s=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
for i in s:
    series.append(i.text)

p=driver.find_elements(By.XPATH,"//div[@class='fix-place ng-binding ng-scope']")
for i in p:
    place.append(i.text.split("-")[1])

d=driver.find_elements(By.XPATH,"//h5[@class='ng-binding']")
for i in d:
    date.append(i.text)

ti=driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")
for i in ti:
    time.append(i.text)  
    
schedule=pd.DataFrame(list(zip(title,series,place,date,time)),
                          columns=['Title','Series','Place','Date','Time'])
schedule

,Title,Series,Place,Date,Time
0,4th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
1,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
2,5th T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
3,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
4,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
5,1st ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
6,2nd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
7,3rd ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST

Q3) Scrape the details of selenium exception from guru99.com.Url = https://www.guru99.com/You need to find following details: A) Name B) Description

In [34]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.guru99.com/")

search_button=driver.find_element(By.XPATH,"/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[1]/div/div/div/span")
search_button.click()

button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
button.click()

In [53]:

name =[]
description=[]
all_info=[]

try:
    all_tags =driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
    for i in all_tags:
        all_info.append(i.text.split(":"))
except NoSuchElementException:
    all_info.append('--')
all_info1= all_info[:41]

jj=[]
for i in all_info1:
    for j in i:
        jj.append(j)
        

for i in range(0, len(jj)):
    if i % 2 ==0:
        name.append(jj[i])

for i in range(0, len(jj)):
    if i % 2 ==1:
        description.append(jj[i])

In [54]:
data_list= list(zip(name,description ))

data= pd.DataFrame(data_list, 
    columns =['Name','Description'],
    index=pd.RangeIndex(start=1, stop=42, name='Sr. No.'))
data

,Name,Description
Sr. No.,,
1,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
2,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
3,3. NoSuchElementException,This Exception occurs if an element could not...
4,4. NoSuchFrameException,This Exception occurs if the frame target to ...
5,5. NoAlertPresentException,This Exception occurs when you switch to no p...
6,6. NoSuchWindowException,This Exception occurs if the window target to...
7,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
8,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
9,9. TimeoutException,Thrown when there is not enough time for a co...
10,10. WebDriverException,This Exception takes place when the WebDriver...
11,11. ConnectionClosedException,This type of Exception takes place when there...
12,12. ElementClickInterceptedException,The command may not be completed as the eleme...
13,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
14,14. ErrorInResponseException,This happens while interacting with the Firef...
15,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
16,16. ImeActivationFailedException,This expectation will occur when IME engine a...
17,17. ImeNotAvailableException,It takes place when IME support is unavailable.
18,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
19,19. InvalidArgumentException,It occurs when an argument does not belong to...
20,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
21,21. InvalidCoordinatesException,This type of Exception matches an interacting...
22,22. InvalidElementStateException,It occurs when command can’t be finished when...
23,23. InvalidSessionIdException,This Exception took place when the given sess...
24,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
25,25. JavascriptException,This issue occurs while executing JavaScript ...
26,26. JsonException,It occurs when you afford to get the session ...
27,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
28,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
29,29. NoSuchContextException,ContextAware does mobile device testing.
30,30. NoSuchCookieException,This Exception occurs when no cookie matching...
31,31. NotFoundException,This Exception is a subclass of WebDriverExce...
32,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
33,33. ScreenshotException,It is not possible to capture a screen.
34,34. SessionNotCreatedException,It happens when a new session could not be su...
35,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
36,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
37,37. UnhandledAlertException,This expectation occurs when there is an aler...
38,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
39,39. UnknownMethodException,This Exception happens when the requested com...
40,40. UnreachableBrowserException,This Exception occurs only when the browser i...
41,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

Q4) Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [56]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("http://statisticstimes.com/")

search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
search_button.click()

In [57]:
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
search_button.click()

In [59]:
state_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
state_button.click()

In [60]:
rank=[]
state=[]
gsdp_18=[]
gsdp_19=[]
share=[]
gdp=[]

a=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in a[:34]:
    rank.append(i.text)
  
b=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in b[:33]:
    state.append(i.text)
   
c=driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
for i in c[:33]:
    gsdp_18.append(i.text)
 
j=0
c=driver.find_elements(By.XPATH,"//td[@class='data']")
for i in range(33):
    gsdp_19.append(c[j].text)
    j=j+5


j=1
for i in range(33):
    share.append(c[j].text)
    j=j+5
      

j=2
for i in range(33):
    gdp.append(c[j].text)
    j=j+5

eco_details=pd.DataFrame(list(zip(rank,state,gsdp_18,gsdp_19,share,gdp)),
                          columns=['Rank','State','gsdp_18','gsdp_19','share','GDP'])
eco_details

   Rank                      State    gsdp_18    gsdp_19   share      GDP
0     1                Maharashtra  2,632,792          -  13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853   8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818   8.39%  240.726
3     4                    Gujarat  1,502,899          -   7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977   7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832   5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989   4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782   4.57%  131.083
8     9                  Telangana    861,031    969,604   4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672   4.29%  122.977
10   11                     Kerala    781,653          -   4.14%  118.733
11   12                      Delhi    774,870    856,112   4.10%  117.703
12   13                    Haryana    734,163    831,610   3.89%  111.519
13   14                      Bihar    530,363    611,804   2.81%   80.562
14   15                     Punjab    526,376    574,760   2.79%   79.957
15   16                     Odisha    487,805    521,275   2.58%   74.098
16   17                      Assam    315,881          -   1.67%   47.982
17   18               Chhattisgarh    304,063    329,180   1.61%   46.187
18   19                  Jharkhand    297,204    328,598   1.57%   45.145
19   20                Uttarakhand    245,895          -   1.30%   37.351
20   21            Jammu & Kashmir    155,956          -   0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472   0.81%   23.369
22   23                        Goa     73,170     80,449   0.39%   11.115
23   24                    Tripura     49,845     55,984   0.26%    7.571
24   25                 Chandigarh     42,114          -   0.22%    6.397
25   26                 Puducherry     34,433     38,253   0.18%    5.230
26   27                  Meghalaya     33,481     36,572   0.18%    5.086
27   28                     Sikkim     28,723     32,496   0.15%    4.363
28   29                    Manipur     27,870     31,790   0.15%    4.233
29   30                   Nagaland     27,283          -   0.14%    4.144
30   31          Arunachal Pradesh     24,603          -   0.13%    3.737
31   32                    Mizoram     22,287     26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

Q5)Scrape the details of trending repositories on Github.com.Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [61]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://github.com/")

explore=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
explore.click()
trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
trending.click()

In [62]:
title=[]
desc=[]
count=[]
language=[]


a=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")
for i in a:
    title.append(i.text)


d=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in d:
    desc.append(i.text)
    

d=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
for i in range(len(d)):
    if i%2==0:
        count.append(d[i].text)


l=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
for i in l:        
    language.append(i.text)
    
repo_details=pd.DataFrame(list(zip(title,desc,count,language)),
                          columns=['Title','Desc','Count','Language'])
repo_details

,Title,Desc,Count,Language
0,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,"2,622",Jupyter Notebook
1,karpathy / nanoGPT,"The simplest, fastest repository for training/...",917,Python
2,sczhou / CodeFormer,[NeurIPS 2022] Towards Robust Blind Face Resto...,"2,000",Python
3,DarkFlippers / unleashed-firmware,Flipper Zero Unleashed Firmware,"4,050",C
4,ytdl-org / youtube-dl,Command-line program to download videos from Y...,"116,215",Python
5,google / osv-scanner,Vulnerability scanner written in Go which uses...,"3,565",Go
6,pola-rs / polars,"Fast multi-threaded, hybrid-streaming DataFram...","11,112",Rust
7,neonbjb / tortoise-tts,A multi-voice TTS system trained with an empha...,"2,267",Python
8,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,"48,390",Python
9,dair-ai / Prompt-Engineering-Guide,🐙 Guide and resources for prompt engineering,901,C++
10,Ebazhanov / linkedin-skill-assessments-quizzes,Full reference of LinkedIn answers 2022 for sk...,"21,704",TypeScript
11,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,"44,230",Rust
12,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,"9,603",Python
13,PRQL / prql,PRQL is a modern language for transforming dat...,"6,108",Rust
14,A-poc / RedTeam-Tools,Tools and Techniques for Red Team / Penetratio...,623,TypeScript
15,jerryjliu / gpt_index,An index created by GPT to organize external i...,623,C++
16,imDazui / Tvlist-awesome-m3u-m3u8,直播源相关资源汇总 📺 💯 IPTV、M3U —— 勤洗手、戴口罩，祝愿所有人百毒不侵,"15,698",Go
17,aurae-runtime / aurae,Distributed systems runtime daemon written in ...,"1,113",TypeScript
18,zlib-searcher / zlib-searcher,search zlib/libgen index to get ipfs_cid.,"3,181",Batchfile
19,BrunoLevy / learn-fpga,"Learning FPGA, yosys, nextpnr, and RISC-V","1,481",Assembly

Q6) Scrape the details of top 100 songs on billiboard.com.Url = https:/www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [63]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("http://www.billboard.com/")

search_button=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
search_button.click()
search_button=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
search_button.click()

In [64]:
name=[]
artist=[]
last_week_rank=[]
peak_rank=[]
weeks=[]

a=driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']")

artist.append(a[0].text.split("\n")[1])
last_week_rank.append(a[0].text.split("\n")[2])
peak_rank.append(a[0].text.split("\n")[3])
weeks.append(a[0].text.split("\n")[4])


a=driver.find_elements(By.TAG_NAME,"h3")
for i in a[1:]:
    name.append(i.text)
while ("" in name):
    name.remove("")    
 


a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in a:
    artist.append(i.text)
 


j=0
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    last_week_rank.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break



j=1
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    peak_rank.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break



j=2
a=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in range(len(a)):
    weeks.append(a[j].text)
    j=j+3
    if (len(a)-1)<=j:
        break
while "" in last_week_rank: 
    last_week_rank.remove("")
while "" in peak_rank: 
    peak_rank.remove("")
while "" in weeks: 
    weeks.remove("")
    
song_details=pd.DataFrame(list(zip(name[:100],artist,last_week_rank,peak_rank,weeks)),
                          columns=['Song Name','Artist','Last Week Rank','Peak rank','Weeks on board'])
song_details

,Song Name,Artist,Last Week Rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

Q7) Scrape the details of Data science recruiters from naukri.com.Url = https://www.naukri.com/hr-recruiters-consultants You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location

In [73]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [74]:
search_job=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_job.send_keys("Data Scientist")
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_button.click()

In [75]:
name=[]
desg=[]
company=[]
skills=[]
location=[]

a=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
for i in a:
    name.append(i.text)

a=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
for i in a:
    desg.append(i.text)

a=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
for i in range(1,len(a),2):
    company.append(a[i].text)

a=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
for i in a:
    skills.append(i.text)

a=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
for i in a:
    location.append(i.text)
    
rec_details=pd.DataFrame(list(zip(name,desg,company,skills,location)),
                          columns=['Name','Designation','Company','Skills','Location'])
rec_details

,Name,Designation,Company,Skills,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
10,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
11,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
14,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
15,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
16,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
17,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
18,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
19,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
20,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
21,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
26,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Sai Siddharth Chinta,Technical Recruiter,McKinsey &amp; Company,Not Specified,Bengaluru / Bangalore
31,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
32,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
33,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
34,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
35,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Mumbai
36,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Bengaluru / Bangalore
37,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
38,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Hyderabad / Secunderabad
39,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Delhi
40,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Pune
41,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Bengaluru / Bangalore
42,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
43,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Hyderabad / Secunderabad
44,navya neluri,Data Scientist,asens labs,Not Specified,Pune
45,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Bengaluru / Bangalore
46,Manisha,Senior Executive Talent Acquisition,Capgemini,"Html5, Css, Aws, Quality Assurance Engineering...",Mumbai
47,Shreya Naithani,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Bengaluru / Bangalore
48,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Hyderabad / Secunderabad

Q8)Scrape the details of Highest selling novels. URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [80]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [81]:
name=[]
author=[]
vol_sold=[]
publisher=[]
genre=[]


a=driver.find_elements(By.XPATH,"//td[@class='left']")
for i in range(1,len(a),5):
    name.append(a[i].text)
for i in range(2,len(a),5):
    author.append(a[i].text)
for i in range(3,len(a),5):
    vol_sold.append(a[i].text)
for i in range(4,len(a),5):
    publisher.append(a[i].text)
a=driver.find_elements(By.XPATH,"//td[@class='last left']")
for i in a:
    genre.append(i.text)
    
book_details=pd.DataFrame(list(zip(name,author,vol_sold,publisher,genre)),
                          columns=['Book Name','Author','Volumes Sold','Publisher','Genre'])
book_details

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9)Scrape the details most watched tv series of all time from imdb.com.Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [82]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [83]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

a=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']")
for i in a:
    name.append(i.text.split(".")[1].split("(")[0])
    

a=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in a:
    year_span.append(i.text.split("(")[1].split(")")[0])

a=driver.find_elements(By.XPATH,"//span[@class='genre']")
for i in a:
    genre.append(i.text)

a=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in a:
    run_time.append(i.text)

a=driver.find_elements(By.XPATH,"//span[@class='ipl-rating-star__rating']")
for i in a:
    if i.text=="\n" or i.text=="Rate" or i.text=="":
        continue
    ratings.append(i.text)  
    

a=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']")

for i in range(2,len(a),3):
    votes.append(a[i].text.split(":")[1])
    
show_details=pd.DataFrame(list(zip(name,year_span,genre,run_time,ratings,votes)),
                          columns=['Show Name','Year of Span','Genre','Run Time','Rating','Votes'])
show_details

,Show Name,Year of Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,100,150"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"1,190,423"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"994,186"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"294,231"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"253,335"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"50,376"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"61,987"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"199,938"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"41,713"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"246,988"

Q10) Details of Datasets from UCI machine learning repositories.Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [84]:
driver=webdriver.Chrome(r"chromedriver.exe")
driver.get("https://archive.ics.uci.edu/")

search_button=driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td/span/b/a")
search_button.click()

In [85]:
name=[]
data_type=[]
task=[]
att_type=[]
instances=[]
attribute=[]
year=[]


a=driver.find_elements(By.XPATH,"//p[@class='normal']")
for i in range(8,len(a[8:]),7):
    name.append(a[i].text)

for i in range(9,len(a[9:]),7):
    data_type.append(a[i].text)
    

for i in range(10,len(a[10:]),7):
    task.append(a[i].text)
    

for i in range(11,len(a[11:]),7):
    
    att_type.append(a[i].text)

for i in range(12,len(a[12:]),7):
    
    instances.append(a[i].text)
    
for i in range(13,len(a[13:]),7):
    
    attribute.append(a[i].text)

for i in range(14,len(a[14:]),7):
    
    year.append(a[i].text)
    
show_details=pd.DataFrame(list(zip(name,data_type,task,att_type,instances,attribute,year)),
                          columns=['Dataset Name','Data Type','Task','Attribute Type','Instances','Attribute','Year'])
show_details

,Dataset Name,Data Type,Task,Attribute Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
615,REJAFADA,Multivariate,Classification,Integer,1996,6826,2020
616,Steel Industry Energy Consumption Dataset,Multivariate,Regression,Integer,35040,11,2020
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020